.image {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0px;
    index: 1;
    opacity: 0.5;
}

.nextImage {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0px;
    display: block;
    index: -1;
    opacity: 0.5;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

body {
	background-color: black;
}

.wrapper {
    display: flex;
    justify-content: center;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.name {
    width: 30%;
    position: relative;
}

.container {
	width: 40%;
	height: 98vh;
    margin: auto;
    float: left;
}

.wiki {
    width: 30%;
    position: relative;
}

.wiki-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#name {
    display: none;
}

#article {
    overflow: hidden;
    text-align: left;
    display: none;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.centerText {
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}