.image {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0px;
    index: 1;
    opacity: 0.5;
    display: block;
    pointer-events: none;
}

.nextImage {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0px;
    display: block;
    index: -1;
    opacity: 0.5;
    pointer-events: none;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

body {
	background-color: #2196F3;
    transition: background-color 0.5s ease;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.name {
    width: 30%;
    position: relative;
}

.container {
    width: 40%;
	height: 98vh;
    margin: auto;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wiki {
    width: 30%;
    position: relative;
    overflow: hidden;
    font-family: orbitron;
}

.wiki-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
}

#name {
    display: none;
    font-size: 7vw;
    font-family: orbitron;
}

#article {
    overflow: hidden;
    text-align: left;
    display: none;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.centerText {
    text-align: center;
    color: white;
    font-size: 1px;
    z-index: 1;
    display: block;
    opacity: 0.0;
    font-family: orbitron;
}

.centerText2 {
    text-align: center;
    color: white;
    font-size: 1px;
    z-index: -1;
    display: block;
    font-family: orbitron;
}

#secondary {
    position: absolute;
}

#main {
    position: absolute;
}

.tutorial {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position:fixed;
    padding:0;
    margin: auto;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;
    border-radius: 25px;
    cursor: default;
    z-index: 1;
}

.heading {
    color: white;
    text-align: center;
    font-size: 4vh;
    font-family: orbitron;
    letter-spacing: 3px;
}

.tutText {
    color: white;
    text-align: center;
    font-size: 2vh;
    font-family: orbitron;
    letter-spacing: 3px;
}

.button {
    color: white;
    text-align: center;
    font-size: 5vh;
    font-family: orbitron;
    letter-spacing: 3px;
    background-color: #2196F3 ;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently supported by Chrome and Opera */
}

.choices {
    position:fixed;
    padding:0;
    margin: auto;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;
    border-radius: 25px;
    cursor: default;
    display: none;
}

.choice1 {
    width: 50%;
    height: 100%;
    border-radius: 25px;
    cursor: default;
    float: left;
    cursor: pointer;
    position: relative;
}

.choice2 {
    width: 48%;
    height: 100%;
    border-radius: 25px;
    cursor: default;
    float: left;
    margin-left: 2%;
    cursor: pointer;
    position: relative;
}

.one {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.two {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.end {
    position:fixed;
    padding:0;
    margin: auto;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;
    border-radius: 25px;
    cursor: default;
    display: none;
}

.button2 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: orbitron;
    letter-spacing: 3px;
    background-color: #2196F3 ;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

a {
    text-decoration: none;
}

.trips {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position:fixed;
    padding:0;
    margin: auto;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;
    border-radius: 25px;
    cursor: default;
    display: none;
    z-index: 1;
}

.trip {
    height: 18%;
    width: calc(97% / 2);
    margin-left: 1%;
    background-color: grey;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.tripText {
    position: absolute;
    font-size: 5vh;
    font-family: Orbitron;
    color: white;
    text-align: center;
    width: calc(97% / 2);
    overflow: hidden;
}

.choicePic {
    max-height: 75%;
    max-width: 100%;
}

.choiceText {
    color: white;
    font-size: 2vw;
    bottom: 0;
    position: absolute;
    width: 100%;
}